.main {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 15%;
    @media screen and (max-width: 750px) {
        padding-top: 20%;
    }
}
.movie-list {
    overflow-y: auto;
    overflow-x: hidden;
    width: 60%;
    height: 90%;
    color: white;
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 2%;
}
.radio-button {
    .ui.radio.checkbox label {
        color: white !important;
    }
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content:space-between 
}

.search {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    z-index: 2
}

.search-bar {
    width: 50vw;
    /* padding-top: 10%; */
}
